<!DOCTYPE html>
<html>
<head>
    <title>K-Means Clustering - Results</title>
</head>
<body>
    <h1>K-Means Clustering - Results</h1>

    <h2>Final Clusters:</h2>
    <ul>
        {% for cluster_index, cluster_points in clusters.items() %}
        <li>
            Cluster {{ cluster_index+1 }}:
            <ul>
                {% for point in cluster_points %}
                <li>{{ point[0] }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <p>Input point belongs to Cluster {{ closest_cluster }}</p>
</body>
</html>
